@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    UTRGV University Financial Services Building<br />
    2406 W University Dr<br />
    Edinburg, TX 78539<br />
    <abbr title="Phone">P:</abbr>
    956.665.2161
</address>

<address>
    <strong>Purchasing:</strong> <a href="mailto:Purch@utrgv.edu">Purch@utrgv.edu</a><br />
   
</address>
